<div class="container">
  <!-- Top Section -->
  <div class="top-section">
    <date-range-picker></date-range-picker>
    <mat-form-field>
      <mat-label>Workshop name</mat-label>
      <mat-select [(value)]="selectedWorkshop">
        @for (workshopName of workshopNames; track workshopName) {
          <mat-option [value]="workshopName.value">{{workshopName.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Car type</mat-label>
      <mat-select [(value)]="selectedWorkshop">
        @for (carType of carTypes; track carType) {
          <mat-option [value]="carType.value">{{carType.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button (click)="onSearch()">Search</button>
  </div>

  <!-- Bottom Section -->
  <div class="bottom-section">
    <mat-table [dataSource]="data" class="mat-elevation-z8">
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
      </ng-container>

      <!-- WS Name Column -->
      <ng-container matColumnDef="wsName">
        <mat-header-cell *matHeaderCellDef> WS name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.wsName}} </mat-cell>
      </ng-container>

      <!-- CarType Column -->
      <ng-container matColumnDef="carType">
        <mat-header-cell *matHeaderCellDef> CarType </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.carType}} </mat-cell>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
      </ng-container>

      <!-- Book Button Column -->
      <ng-container matColumnDef="book">
        <mat-header-cell *matHeaderCellDef> Book </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button (click)="onBook()">Book</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>

